@charset "UTF-8";

@media screen and (max-width: 767px) {

    .galeria {
        width: 100%;
        height: 70vh;
        justify-content: flex-start;
        overflow-x: scroll;
    }

    .tipo-personagem button {
        margin: 0px;
    }

    .single-galeria {
        min-width: 90% !important;
    }

    .personagens-galeria::before,
    .personagens-galeria::after {
        width: 50px;
    }

    .scroll-btn {
        color: black;
    }

    .footer-svg {
        padding-top: 10rem;
    }
}