@charset "UTF-8";

@media screen and (max-width: 767px) {

    .galeria {
        width: 100%;
        height: 70vh;
        justify-content: flex-start;
        overflow-x: scroll;
    }

    .tipo-personagem button {
        margin: 0px;
    }

    .single-galeria {
        min-width: 90% !important;
    }

    .personagens-galeria::before,
    .personagens-galeria::after {
        width: 50px;
    }

    .btn-modal {
        visibility: visible; 
        opacity: 1;
        bottom: 580px;
    }

    .single-galeria:hover .btn-modal {
        visibility: visible; 
        opacity: 1;
    }

    .scroll-btn {
        display: none;
    }

    .modal {
        width: 80vw;
        height: 90vh;
        
    }

    .branco-modal {
        
    }

    .img-modal {
        top: 50%;
    }

    .img-modal img {
        width: 400px;
    }

    .content-modal {
        padding-bottom: 270px;
      }

    .footer-svg {
        padding-top: 10rem;
    }
}